/* General Styles */
body {
    font-family: Arial, sans-serif;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #181818; /* Dark background */
    color: #f0f0f0; /* Light text color */
}

.container {
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    border-radius: 8px;
    background-color: #242424; /* Darker container background */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header {
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

.task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

input[type="text"],
input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #555; /* Dark border */
    border-radius: 4px;
    width: calc(100% - 20px);
    background-color: #333; /* Dark input background */
    color: #f0f0f0; /* Light text color */
}

input[type="text"]::placeholder,
input[type="datetime-local"]::placeholder {
    color: #aaa; /* Placeholder color */
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745; /* Green button */
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s; /* Transition effects */
}

button:hover {
    background-color: #218838; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.task-categories {
    margin-top: 20px;
}

h2 {
    font-size: 1.2em;
    border-bottom: 2px solid #555; /* Dark border under headings */
    color: #f0f0f0; /* Light color for headings */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #333; /* Dark background for list items */
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    transition: background-color 0.3s; /* Transition effect for list items */
}

li:hover {
    background-color: #444; /* Slightly lighter background on hover */
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #ccc; /* Lighter footer text */
}

@media (max-width: 500px) {
    .container {
        max-width: 100%; /* Full width on small screens */
        padding: 10px; /* Adjust padding */
    }

    button {
        width: 100%; /* Make buttons full width */
    }

    input[type="text"], input[type="datetime-local"] {
        width: 100%; /* Full width for input fields */
    }
}
